/*--------------------------------nav-----------------------------------*/

body {
    background-color: #ffe190;
}

.pad {
    padding-left: 90px;
    font-family: 'Oswald', sans-serif;
}

.pad a {
    font-family: 'Oswald', sans-serif;
}

/*導覽列字顏色*/

.bg-light .navbar-nav .nav-link {
    color: #d36c6c;
}

/*導覽列字顏色*/

.bg-light .navbar-brand,
.bg-light .navbar-text {
    color: #d36c6c;
    font-size: 32px;
}

.bg-light .navbar-brand:hover {
    color: #d36c6c;
}

/*滑過導覽列變字顏色*/

.bg-light .nav-item.active .nav-link,
.bg-light .nav-item:hover .nav-link {
    color: #9d5151;
}

/*修改子選單文字連結顏色*/

.bg-light .dropdown-item {
    color: #d36c6c;
}

/*滑過子項目變底色*/

.bg-light .dropdown-item:hover {
    background-color: #d36c6c;
    color: #ffffff;
}

/*--------------------------------nav-----------------------------------*/

/*---------------------------------body-------------------------------------*/

#activity_top {
    background: url(../img/type_top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 1000px;
}

.activity {
    color: rgb(207, 204, 204);
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 54px;
    border: 6px rgb(207, 204, 204) solid;
    padding: 0px 15px;
    margin-top: 530px;
}

.p {
    margin-top: 205px;
    background-color: #EEDAE0;
    height: 300px;
    width: 300px;
    padding: 30px;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 4px;
}

.inside {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    text-align: center;
    font-weight: 800;
    letter-spacing: 2px;
}


.join {
    padding: 40px 20px;

    height: 100%;
}

.join p {
    font-family: 'Oswald', sans-serif;
    font-size: 7vmin;
    font-weight: 500;
    color: #fff9f9;
    font-style: italic;
    letter-spacing: 3px;
    text-shadow: 0.8vmin 0.8vmin #ce6b6b;
}


.join a:hover {
    background-color: #90AC67;
    color: #ffffff;
    box-shadow: 5px 5px rgb(105, 128, 72);
}

.information {
    margin: 0px auto 150px 0;
    height: 700px;
}

.when,
.where,
.event {
    font-family: 'Oswald', sans-serif;
    font-size: 7vmin;
    color: #ff9337;
    letter-spacing: 2px;
    font-weight: 500;
}

.time {
    padding: 30px 40px;
    font-family: '微軟正黑體', sans-serif;
    font-size: 3vmin;
    color: #5f5a5a;
    background-color: white;
}

.explain {
    font-family: '微軟正黑體', sans-serif;
    font-size: 5vmin;
    color: #5f5a5a;
    text-align: center;
}


.content {
    background: url(../img/schedule2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.bi {
    margin-bottom: 70px;
}

.table {
    margin: 0;
}

.stitle {
    font-family: 'Oswald', sans-serif;
    font-size: 5vmin;
    color: #ffffff;
}






.j {
    margin: 0;
    padding: 0;
}

.word {
    background-color: #EEF7E2;
    height: 500px;
}

.table thead th {
    border-bottom: 1px rgba(255, 0, 0, 0) solid;
}

/*--------------------------------footer-----------------------------------*/

.down {
    background: #d36c6c;
    max-height: 250px;
}

.down h2 {
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    padding: 20px 0;
}

.down p {
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    padding: 20px 0;
}

/*--------------------------------footer-----------------------------------*/

.borderless td,
.borderless th {
    border: none;
}
